<!DOCTYPE html>
<html>

<head>
  <title> Nerdz </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/radio-buttons.css">
  <link rel="stylesheet" href="../css/questions.css">
  <link rel="stylesheet" href="../css/handlebars.css">
  <link href="https://fonts.googleapis.com/css?family=Barrio|Indie+Flower|Oswald" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
{{{ body }}}
<!-- json sits inside the body -->

</html>
