<body>
  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <h2 class="text-center">Hello from the Nerdz Team!</h2>
        <img class="thumbnail" src="../img/nerd-icon.png">
        <h3 class="text-center">Please enter your new password: </h3>
        <form method="POST" action="/password/mail/reset" id="submit-form" class="text-center">
          {{#if token}}
          <input type="hidden" value="{{ token }}" name="token" /> {{/if}}
          <p class="input-form">
            <div class="form-input-title">New Password</div>
            <input required class="form-control" type="password" name="newpassword" id="newpassword" maxlength="32">
            </textarea>
          </p>
          <p class="input-form">
            <div class="form-input-title">Confirm Password</div>
            <input required class="form-control" id="confirmpassword" type="password" name="confirmpassword" maxlength="32">
            </textarea>
          </p>
          <p class="input-form">
            <button class="btn btn-success btn-lg" type="submit" id="submit-button">Reset Email</button>
            <br>
          </p>
        </form>
      </div>
      <div class="col-sm-4"></div>
    </div>
  </div>
</body>
