#chartdiv {
  width: 100%;
  height: 500px;
  font-size: 10px;
  background: #000;
}

h1 {
  font-size: 8vw;
  font-family: 'Share Tech', sans-serif;
  line-height: 100%;
}

#indie-chartdiv {
  width: 100%;
  height: 500px;
  font-size: 10px;
}

#gauge-div {
  width: 100%;
  height: 500px;
}

#logout {
  margin-top: 10px;
}

body {
  background: #000;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

p {
  line-height: 300%;
  letter-spacing: 3px;
}

li.export-main {
  display: none;
}

a.amcharts-main-div {
  display: none;
}
