body,
html {
  background-image: url(../img/galaxy.gif);
  background-size: cover;
  background-repeat: no-repeat;
  color: #eee;
}

.navbar {
  opacity: 0;
}

#brand-img {
  margin-top: -7px;
}

.navbar:hover {
  opacity: 90;
}

.modal-header {
  color: #eee;
  border: none;
  font-family: 'Share Tech', sans-serif;
}

.words {
  height: 300px;
  width: 350px;
  padding: 100px 100px;
}

.selected {
    background: radial-gradient( 5px -9px, circle, white 8%, red 26px );
    background-image: url(../img/nerd-word.png);
    border: 2px solid white;
    border-radius: 12px; /* one half of ( (border * 2) + height + padding ) */
    box-shadow: 1px 1px 1px black;
    color: white;
    font: bold 15px/13px Helvetica, Verdana, Tahoma;
    height: 200px; 
    min-width: 300px;
    padding: 4px 3px 0 3px;
    margin: auto;
    text-align: center;
}

.circle {
  display: block;
  background: black;
  border-radius: 50%;
  margin: 0;
  background: radial-gradient(circle at 100px 100px, #5cabff, #000);
}

.geekornerd {
  background: transparent;
  border: none;
  padding: 80px;
}

#logout,
#your-city,
.btn-primary-outline {
  background-color: transparent;
  border-color: #ccc;
  color: #030303;
}

#geek,
#nerd {
  color: #eee;
  text-shadow: 1px 1px 2px #555;
}
