body {
  font-family: Lato, Tahoma;
  color: #e7e7e7;
  font-size: 1em;
  background-color: #111;
}

.navbar {
  opacity: 2;
}

.navbar:hover {
  opacity: 90;
}

.warning {
  color: #EA4335;
}

#brand-img {
  margin-top: -7px;
}

.description {
  color: #aaa;
  font-size: 0.8em;
}

.form-control {
  margin: 3px;
  background: #eee;
}

a {
  font-size: 15px;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.navbar-brand {
  font-family: 'Share Tech', sans-serif;
  color: #eee;
}

a:visited,
a:active,
a {
  color: #ddd;
  text-decoration: none;
}

a:hover {
  color: #FFF;
  text-decoration: underline;
}

.btn {
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border: 0;
  border-radius: 3px;
  color: #ffffff;
  font-size: 15px;
  background: #629b6d;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #456b4c;
  text-decoration: none;
}

btn:active {
  border-color: #456b4c;
}

btn:selected {
  border-color: #456b4c;
}

.amcharts-map-image:hover {
  filter: url(#blur);
}
