.modal-header {
  color: #eee;
  border: none;
  font-family: 'Share Tech', sans-serif;
}

#myModalLabel {
  font-size: 6vw;
}

.sign-with {
  margin-top: 25px;
  padding: 20px;
}

p {
  font-size: 14px;
}

.form-control {
  background: #66615b;
  border: none;
  color: #eee;
}

*:focus {
  outline: none !important
}

;
a:link {
  text-decoration: none;
  background: transparent;
  padding: 20px;
}

a:visited {
  text-decoration: none;
  color: #ddd;
}

a:hover {
  text-decoration: none;
  color: #456b4c;
}

a:active {
  text-decoration: none;
  color: #456b4c;
}

a.forget,
a.forget:hover,
a.forget:active,
a.forget:visited {
  border: none;
  text-decoration: none;
}

div#OR {
  height: 30px;
  width: 30px;
  border: 1px solid #C2C2C2;
  border-radius: 50%;
  font-weight: bold;
  line-height: 28px;
  text-align: center;
  font-size: 12px;
  float: right;
  position: absolute;
  right: -16px;
  top: 40%;
  z-index: 1;
  background: #DFDFDF;
}

.modal-transparent {
  background: transparent;
  border: none;
  box-shadow: none;
}

.forget {
  font-size: 12px;
}

.forget:hover {
  text-decoration: none;
}

#forget-modal-content,
#reset-modal-content {
  background-image: url("../img/map-shot.png");
  background-repeat: none;
  background-size: cover;
  height: 500px;
}
