  /* GLOBAL STYLES
-------------------------------------------------- */
  /* Padding below the footer and lighter body text */
  
  .modal-header {
    color: #eee;
    border: none;
    font-family: 'Share Tech', sans-serif;
  }
  
  html,
  body {
    color: #e7e7e7;
    font-size: 1em;
    background: #000;
    /* background-image: url("../img/map-shot.png");*/
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
  /* Carousel base class */
  
  .carousel {
    height: 500px;
    margin-bottom: 60px;
    background: #000;
    /*  background-image: url("../img/map-shot.png");*/
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #logout {
    margin-top: 10px;
  }
  
  .item {}
  /* Since positioning the image, we need to help out the caption */
  
  .carousel-caption {
    margin-bottom: 120px;
  }
  /* Declare heights because of positioning of img element */
  
  .carousel .item {
    height: 500px;
  }
  
  h1 {
    font-family: 'Oswald', cursive;
  }
  
  h4 {
    font-family: 'Oswald', cursive;
  }
  
  .carousel-inner > .item > img {
    position: cover;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
    opacity: 0.2;
  }
